<h3>Popular Movies</h3>
<hr>
<div class="row">
  <div class="col-sm-4">
    <img src="http://ia.media-imdb.com/images/M/MV5BMTg5NzUwMDU5NF5BMl5BanBnXkFtZTcwMjk2MDA4Mg@@._V1_SX300.jpg" alt="{{data.Title}}" width="220">
  </div>
  <div class="col-sm-8">
      <h3>{{data.Title}}</h3>
      <p>{{data.Plot}}</p>
      <p><strong>Director:</strong> {{data.Director}}</p>
      <p><strong>Actors:</strong> {{data.Actors}}</p>
      <p><strong>Released:</strong> {{data.Released}}</p>
      <p><strong>Genre:</strong> {{data.Genre}}</p>
      <rating ng-model="data.imdbRating" max="10" readonly="true"></rating>
  </div>
</div>